name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"

      
      # Build: kafka-avro-genai-streaming-poc
      - name: Build kafka-avro-genai-streaming-poc
        working-directory: kafka-avro-genai-streaming-poc
        run: |
          chmod +x ./gradlew
          ./gradlew --no-daemon clean build

      # Build: AgenticNotifierService
      - name: Build agentic-notifier-service
        working-directory: agentic-notifier-service/AgenticNotifierService
        run: |
          chmod +x ./gradlew
          ./gradlew --no-daemon clean build
